<h2>Change Password</h2>

<form [formGroup]="form" (ngSubmit)="submit()" class="form-container">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Current Password</mat-label>
    <input matInput type="password" formControlName="currentPassword" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>New Password</mat-label>
    <input matInput type="password" formControlName="newPassword" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Confirm New Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    Change Password
  </button>
</form>
